<div *ngIf="selectedNota; else crear" class="card">
  <form #form = "ngForm" (ngSubmit) = "onSubmit();">
      <div class="card-body">
          <h2 class="card-title">
            Editar Nota
          </h2>
          <div class="form-group">
            Nombre:
            <input type="text" #nombre = "ngModel" [class.is-valid] = "nombre.valid" [class.is-invalid] = "!nombre.valid" name="nombre" class="form-control" [(ngModel)] = "selectedNota.titulo" required>
          </div>
          <div class="form-group">
            Descripcion:
            <input type="text"  name="descripcion" class="form-control" [(ngModel)] = "selectedNota.descripcion">
          </div>
          <div class="form-group" >
              Categoria:
              <select name="categorias" #categoria = "ngModel" [class.is-valid] = "categoria.valid" [class.is-invalid] = "!categoria.valid" required [(ngModel)] = "selectedNota.categoria"  class="form-control">
                <option *ngFor = "let categoria of categorias" [value] = "categoria.id">{{categoria.descripcion}}</option>
              </select>
            </div>
          <div class="card-text">
            <button [disabled] = "!form.valid" type="submit" class="btn btn-success">Salvar</button>
          </div>
        </div>
  </form>
</div>

<ng-template #crear>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        Crear Nota
      </h2>
      <div class="card-text">
        <button class="btn btn-primary" (click)="crearNota();">Crear</button>
      </div>
    </div>
  </div>
</ng-template>


<br>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      Notas
    </h2>
    <div class="card-text">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Titulo</td>
              <td>Contenido</td>
              <td>Categoria</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nota of notas" (click)="onSelect(nota);" [class.selected]="nota === selectedNota">
              <td>{{nota.titulo}}</td>
              <td>{{nota.descripcion}}</td>
              <td>{{nota.categoriaDescripcion}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>